.auth__button {
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}